---
export interface Props {
  title: string;
  description: string;
  publishDate: string;
  url: string;
}

const { title, description, publishDate, url } = Astro.props as Props;
---

<article class="py-4">
  <header>
    <time
      datetime={publishDate}
      class="dark:text-gray-300 text-gray-500 font-semibold text-sm"
    >
      {new Date(publishDate).toLocaleDateString("en-US")}
    </time>
    <a href={url}>
      <h1
        class="dark:text-white font-bold text-2xl animated-underline max-w-fit"
      >
        {title}
      </h1>
    </a>
  </header>
  <p class="dark:text-gray-50 text-gray-700 font-medium text-lg">
    {description}
  </p>
  <a href={url} class="animated-underline font-bold text-sm dark:text-white">
    Read more
  </a>
</article>
